<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <h1>Tienda de Ropa Online</h1>
        <%-include ('../partials/nav.ejs') %>
      </header>
    <main>
      <%-include ('../partials/cards.ejs') %>
    </main>
    
    <footer>
        <%-include ('../partials/footer.ejs') %>
    </footer>

</body>
</html>