<a name="nosotros"></a>
<div class="fot-container">
  
  <div class="columna1">
    
    <h1>Más Información de la Compañia</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate saepe voluptatum eum, maiores nihil ea deleniti aliquid provident quibusdam dolor delectus nemo, alias dignissimos autem perferendis eos suscipit excepturi illo?</p>
  
  </div>
  
  <div class="columna2">
    
    <h1>Redes Sociales</h1>
    
    <div class="fila">
      <img src="/imagenes/facebook.png" alt="icono de facebook">
      <label for="face">Seguinos en Facebook</label>
    </div>

    <div class="fila">
      <img src="/imagenes/instagram.png" alt="icono de instagram">
      <label for="ig">Seguinos en Instagram</label>
    </div>
    
    <div class="fila">
      <img src="/imagenes/twitter.png" alt="icono de twitter">
      <label for="tw">Seguinos en Twitter</label>
    </div>

  </div>
  
  <div class="columna3">
    
    <h1>Información de Contactos</h1>

    <div class="fila2">
      <img src="/imagenes/marcador-de-posicion.png" alt="ubicacion">
      <label for="direccion">Córdoba, Argentina Tolosa 2449</label>
    </div>

    <div class="fila2">
      <img src="/imagenes/llamada-telefonica.png" alt="telefono">
      <label for="numeroTelefono">+54 0351 3876533</label>
    </div>
    <div class="fila2">
      <img src="/imagenes/correo.png" alt="correo electronico">
      <label for="correo">@juanchicco87@gmail.com</label>
    
    </div>

  </div>

</div>