<nav class="padre-1">

    <img src="/imagenes/store.png" alt="logo" class="logo">
    
    <input type="checkbox" id="hambur" name="hambur">
    <label for="hambur" class="hambur-btn">
      <i class="fas fa-bars"></i>
    </label>
    
    <ul class="contenedor-nav">
      
      <li class="menu-item"><a href="/" class="menu-link">Inicio</a></li>
      
      <li class="menu-item container-submenu" >
        <a href="#" class="menu-link">Productos</a>
        <ul class="submenu">
          <li class="menu-item"><a href="/categoria-bermudas" class="menu-link">Bermudas</a></li>
          <li class="menu-item"><a href="/categoria-remeras" class="menu-link">Remeras</a></li>
          <li class="menu-item"><a href="/categoria-zapatillas" class="menu-link">Zapatillas</a></li>
        </ul>
      </li>
      
      <li class="menu-item"><a href="/nosotros" class="menu-link">Sobre Nosotros</a></li>
      <li class="menu-item"><a href="/agregar-producto" class="menu-link">Agregar Producto</a></li>
    </ul>

    <ul class="iconos">
      
      <li><i class="fas fa-shopping-cart"></i></li>
      <li><i class="fas fa-search"></i></li>
    
    </ul>
  </nav>